<div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/fabio-mangione.jpg');">
      <div class="filter"></div>
  </div>
  <div class="card">
    <div class="card-header">
      {{pageTitle}}
    </div>
    <div class="card-body">
      <div class="container-fluid">
        <div class="text-center">
          <img src="./assets/images/logo.jpg"
               class="img-responsive center-block"
               style="max-height:300px;padding-bottom:50px" />
        </div>
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3>Cyprian Tingiweh Sintenyui</h3>
        </div>
  
        <div class="text-center">@cypriantingiweh</div>
        <div class="text-center">
          <a href="https://github.com/cypriantingiweh">github-accout</a>
        </div>
      </div>
    </div>
  </div>
</div>
